{% extends "base.html" %}

{% block title %}
    Crear Curso
{% endblock %}

{% block content %}
    <h2>Crear un Nuevo Curso</h2>
    
    <form method="POST">
        {{ form.hidden_tag() }}
        
        <div>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        
        <div>
            {{ form.submit() }}
        </div>
    </form>
    
    <br>
    <a href="{{ url_for('main.courses') }}">Volver a la Lista de Cursos</a>
{% endblock %}
