{% extends "base.html" %}
{% block title %}Subir Material{% endblock %}

{% block content %}
<h2>Subir Material para el curso: {{ course.name }}</h2>

<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div>
        {{ form.title.label }}<br>
        {{ form.title(size=32) }}<br>
        {% for error in form.title.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.file.label }}<br>
        {{ form.file() }}<br>
        {% for error in form.file.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>{{ form.submit() }}</div>
</form>
{% endblock %}
